body{
    font-size: 25px;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
   
    
    
}


div{
    background-color: #27354c;
    border-radius: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 5px;
}
#r{
    color:#47d781 ;
}
#pass{
    background-color: #36c06d;
    border: none;
    border-radius: 5px;
    padding: 8px;
    color: white;
    font-weight: bold;
}
#p{
    font-size: small;
}
#pass1 , #pass2{
    background-color: #384861;
    border: none;
    border-radius: 5px;
    padding: 8px;
}
button , hr{
    margin: 20px;
}